<%= form_with(model: concertevent, local: true) do |form| %>
  <% if concertevent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(concertevent.errors.count, "error") %> prohibited this concertevent from being saved:</h2>

      <ul>
      <% concertevent.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :member %>
    <%= form.number_field :member %>
  </div>

  <div class="field">
    <%= form.label :datetime %>
    <%= form.datetime_select :datetime %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
